<!DOCTYPE html>
<html>
<head>
    <title>Docker</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.min.js"></script>
</head>
<body>
    <center>
    <div id="main-container">

        <div class="typewriter">
            <h1>Create Personalised Docker Image</h1>
        </div>

        <h2>Base Image</h2>
        <input type="radio" id="base-ubuntu" name="base-image" value="ubuntu">
        <label for="base-ubuntu">ubuntu</label><br>
        
        <input type="radio" id="base-debian" name="base-image" value="debian">
        <label for="base-debian">debian</label><br>
        
        <h2>Tag Name for Image</h2>
        <input type="textbox" id="tag" name="tag" placeholder="enter custom name for your docker image">
        
        <h2>Working Directory</h2>
        <input type="textbox" id="workdir" name="workdir" value="/app">
        
        <h2>Expose Port</h2>
        <input type="textbox" id="exposeport" name="exposeport" value="8080">

        <h2>Image Name</h2>
        <input type="textbox" id="image-name" name="image-name" value="new-image">
        
        <h2>Enter Custom Packages Names</h2>

        <div id="selected-packages-box" style="display: none;">
            <ul id="selected-packages"></ul>
        </div>

        <input type="textbox" id="package-names" name="package-names" placeholder="Enter Space Separated Package Names">

        <div id="package-suggestion-box" style="display: none;">
            <ul id="package-suggestions"></ul>
        </div>

        <h2>Enter Custom Libraries Names</h2>
        <div id="selected-libraries-box" style="display: none;">
            <ul id="selected-libraries"></ul>
        </div>

        <input type="textbox" id="library-names" name="library-names" placeholder="Enter Space Separated Library Names">
        
        <div id="library-suggestion-box" style="display: none;">
            <ul id="library-suggestions"></ul>
        </div>
        
        <center>
            <button id="processing-btn" type="generateImage" onclick="generateJson()">Generate Image</button>
        </center>

    </div>
    </center>
    <div id="processing-dialog" class="dialog">
        <div class="dialog-content">
            <div class="progress-circle">
                <svg class="progress" viewBox="0 0 100 100">
                    <circle class="progress-background" cx="50" cy="50" r="45"></circle>
                    <circle class="progress-bar" cx="50" cy="50" r="45"></circle>
                </svg>
            </div>
            <span class="progress-text">Wait till your Image is being generated...</span>
        </div>
    </div>
    <div id="download-dialog" class="dialog">
        <span id="download-text" class="download-text">Here is your Personalised Docker Image Tar file.</span>
        <div class="dialog-content">
            <button id="download-btn" type="downloadBtn" onclick="downloadFile()">Download</button>
        </div>
    </div>
    <script src="../static/js/jquery.js" }></script>
    <script type="module" src="../static/js/scripts.js"></script>
    <script src="../static/js/scripts-1.js"}></script>
    <script type="module" src="../static/js/scripts2.js"}></script>
    </body>
</html>